<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
{% load static %}
<script src="{% static 'app02/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'app02/app02.js' %}"></script>
<link rel="stylesheet" href="{% static 'app02/app02.css' %}">
<title>app02</title>
</head>
<body>
<h2>app02 template!</h2>
{{ hour }}時{{ minute }}分です。<br>
{{ message | safe }}<p />
<hr />
<span class='green'>green</span>
<span class='red'>red</span>
<span class='blue'>blue</span>
<hr />
<a href="../accounts/logout/">Logout</a><p />
<a href="../">Return</a><p />
<hr />
<div id="outarea_aa">outarea_aa</div>
<div id="outarea_bb">outarea_bb</div>
<div id="outarea_cc">outarea_cc</div>
<div id="outarea_dd">outarea_dd</div>
<div id="outarea_ee">outarea_ee</div>
<div id="outarea_ff">outarea_ff</div>
<div id="outarea_gg">outarea_gg</div>
<div id="outarea_hh">outarea_hh</div>
<hr />
app02.html<p />
Dec/20/2018 AM 11:23<p />
</body>
</html>
